@model ModelsLibrary.DtO_Models.Customer
@{
    ViewBag.Title = "AdminUpdateCustomer";
    Layout = "~/Views/Shared/AdminMain.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        @using (Html.BeginForm())
    {
        <button type="button" id="del" class="btn btn-primary"  >
            <i class="far fa-times-circle"></i>
            刪除客戶
        </button>
        <h3 align="center">修改客戶資料</h3>
        <br>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-center" name="CustomerID">客戶ID</th>
                            <td>@Model.CustomerID</td>
                        </tr>
                        <tr>
                            <th class="text-center">客戶名稱</th>
                            <td>
                                <input type="text" name="CustomerName" size="30" value="@Model.CustomerName" />
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">生日</th>
                            <td>
                                <input type="text" name="Birthday" size="30" value="@string.Format("{0:yyyy-M-d}", Model.Birthday)" />
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">電話</th>
                            <td>
                                <input type="text" name="Phone" size="30" value="@Model.Phone" />
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">Email</th>
                            <td>
                                <input type="text" name="Email" size="30" value="@Model.Email" />
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">購物金</th>
                            <td>
                                <input type="text" name="ShoppingCash" size="30" value="@decimal.Round(Model.ShoppingCash)" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" align="center">
                <button type="submit" id="check" class="btn btn-primary">
                    <i class="fas fa-check"></i>確認
                </button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("AdminCustomer", "AdminCustomer")'">
                    <i class="fas fa-times"></i>取消
                </button>
            </div>
        </div>
}
    </div>
</div>
<script type="text/javascript">
    document.getElementById("check").onclick = function () {
        if (window.confirm('您確定要修改嗎？') == true) {
            return true;
        } else {
            return false;
        }
    }
    document.getElementById("del").onclick = function () {
        if (window.confirm('您確定要刪除嗎？') == true) {
            @*onclick = "location.href='@Url.Action("DeleteCustomer","AdminCustomer", new { CustomerID = ViewBag.CustomerID })'"*@
            $.ajax({
                url:'@Url.Action("DeleteCustomer", "AdminCustomer", new { CustomerID = ViewBag.CustomerID })'
            });
            window.location.href = '@Url.Action("AdminCustomer", "AdminCustomer")';
        } else {
            return false;
        }
    }
</script>

