
@{
    ViewBag.Title = "AdminCustomer";
    Layout = "~/Views/Shared/AdminMain.cshtml";
    var list = ViewData["list"] as List<ModelsLibrary.ViewModels.AdminCustomer>;
    int count = Convert.ToInt32(ViewData["count"]);
    int k = 0;
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="title-5 m-b-35">客戶管理</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <div class="dropdown mr-3">
                                <button class="btn btghn-lit dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    排序方式
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href=@Url.Action("customer","Admin",new { sort="Id"})>客戶ID</a>
                                    <a class="dropdown-item" href=@Url.Action("customer","Admin",new { sort="Account"})>帳號</a>
                                    <a class="dropdown-item" href=@Url.Action("customer","Admin",new { sort="Cash"})>購物金</a>
                                    <a class="dropdown-item" href=@Url.Action("customer","Admin",new { sort="Total"})>消費總額</a>
                                </div>
                            </div>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="table-data__tool-right">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AdminCustomerAdd", "AdminCustomer")'">
                            <i class="fas fa-plus"></i>
                            &nbsp;新增客戶
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-center">更改</th>
                                <th class="text-center">客戶ID</th>
                                @*<th class="text-center">客戶姓名</th>*@
                                <th class="text-center">帳號</th>
                                @*<th class="text-center">生日</th>*@
                                <th class="text-center">電話</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">購物金</th>
                                <th class="text-center">消費總額</th>
                            </tr>
                        </thead>
                        <tbody>
                            @while (true)
                            {
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("AdminUpdateCustomer", "AdminCustomer",new { CustomerID=list[k].CustomerID})'">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                                <td class="text-center">@list[k].CustomerID</td>
                                @*<td class="text-center">@list[k].CustomerName</td>*@
                                <td class="text-center">@list[k].Account</td>
                                @*<td class="text-center">@string.Format("{0:yyyy/M/d}", list[k].Birthday) </td>*@
                                <td class="text-center">@list[k].Phone</td>
                                <td>@list[k].Email</td>
                                <td class="text-center">@decimal.Round(list[k].ShoppingCash)</td>
                                <td class="text-center">@decimal.Round(list[k].Total)</td>
                            </tr>
                                k = k + 1;
                                count = count - 1;
                                if (count == 0) { break; }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

