
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/Main.cshtml";
    var list = ViewData["list"] as List<WebApplication.Models.ShppingCartModel>;
}
<br>
<br>
<br>
<br>
<br>
<div class="step-container" style="margin-top: 25px;margin-left:15%">
    <div class="step1" style="text-align:center;">
        <span style="font-size:30px;">購物車明細</span>
    </div>
    <div class="step2" style="text-align:center;">
        <span style="font-size:30px;">付款與運送方式</span>
    </div>
    <div class="step3" style="text-align:center;">
        <span style="font-size:30px;">訂單成立</span>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col text-center">
            <h5>訂單建立後商品明細、金額皆無法更改並無合併訂單處理，請您再三確認後再完成結帳</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="clTdPhoto"></td>
                    <td class="clTag syHide HighFont"></td>
                    <td class="clTdMerNo text-center">商品編號</td>
                    <td class="clTdMerName">商品名稱</td>
                    <td class="clTdColor text-center">顏色</td>
                    <td class="clTdNum text-center">尺寸</td>
                    <td class="clTdPrice text-center">數量</td>
                    <td class="clTdSub text-center">小計</td>
                    <td class="clTdDelete text-center">刪除</td>
                </tr>
                @foreach (var item in list)
                {
                    <tr>
                        <td class="clPhoto">
                            <a href="#">
                                <img src=@item.Image height="150px">
                            </a>
                        </td>
                        <td class="clTag syHide HighFont"></td>
                        <td name="ProductID" class="clTdMerNo text-center">@item.ProductID</td>
                        <td class="clTdMerName">@item.ProductName</td>
                        <td class="text-center clTdColor">@item.Color</td>
                        <td class="text-center clTdSize">@item.Size</td>
                        <td class="cltdNum">
                            <select id="cmbNum1" name="cmbNum1" class="cmbNum">
                                @for (var i = 1; i < 6; i++)
                                {
                                    if (i == item.Amount)
                                    {
                                        <option selected value=@i>@i</option>
                                    }
                                    else
                                    {
                                        <option value=@i>@i</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="coNum coPrice">NT$@Decimal.Round(@item.Total)</td>
                        <td class="clTdDelete text-center">
                            <a href="@Url.Action("DeleteOne_detail", "ShoppingCart", new { ProductID = item.ProductID })">
                                <i class="far fa-trash-alt" style="color: black;"></i>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (list.Count != 0)
                        {
                            <a href="/shoppingcart/payment" type="button" class="btn btn-dark" id="nextpay">下一步</a>
                        }
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

