
@{
    ViewBag.Title = "AdminCustomer";
    Layout = "~/Views/Shared/AdminMain.cshtml";
    var list = ViewData["list"] as List<ModelsLibrary.DtO_Models.Customer>;
    int count = Convert.ToInt32(ViewData["count"]);
    int k = 0;
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="title-5 m-b-35">客戶管理</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">排序方式</option>
                                <option value="">客戶ID</option>
                                <option value="">客戶姓名</option>
                                <option value="">帳號</option>
                                <option value="">生日</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                    <div class="table-data__tool-right">       
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AdminCustomerAdd", "customer")'">
                            <i class="fas fa-plus"></i>
                            &nbsp;新增客戶
                        </button>
                           
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-center">客戶ID</th>
                                <th class="text-center">客戶姓名</th>
                                <th class="text-center">帳號</th>
                                <th class="text-center">生日</th>
                                <th class="text-center">電話</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">購物金</th>
                            </tr>
                        </thead>
                        <tbody>
                            @while (true)
                            {
                                <tr>
                                    <td class="text-center">@list[k].CustomerID</td>
                                    <td class="text-center"><a href="Customer/@list[k].CustomerID">@list[k].CustomerName</a></td>
                                    <td class="text-center">@list[k].Account</td>
                                    <td class="text-center">@string.Format("{0:yyyy/M/d}", list[k].Birthday) </td>
                                    <td class="text-center">@list[k].Phone</td>
                                    <td>@list[k].Email</td>
                                    <td class="text-center">@decimal.Round(list[k].ShoppingCash)</td>
                                </tr>
                                k = k + 1;
                                count = count - 1;
                                if (count == 0) { break; }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

