@model ModelsLibrary.ViewModels.ProductList
@{
    Layout = "~/Views/Shared/Main.cshtml";

}
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            @foreach (var item in Model.PhotoPath)
            {
                <div class="row">
                    <div class="col">
                        <img class="btnFollow" style="max-width: 100%;" src=@item />
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <img id="chgicon" class="btnFollow" style="max-width: 100%;" src=@Model.PhotoPath[0] />
        </div>
        <div class="col-4">
            <h3>@Model.ProductName </h3>
            <br />
            <h3>
                <b>NT$@Model.UnitPrice </b>
            </h3>
            <br />
            <p class="lead">
                @Model.ProductDetails
            </p>
            <br />
            <br />
            <div class="row">
                <div class="col-4">
                    <h5>尺寸</h5>
                    <select style="height: 30px;">
                        @foreach (var item in @Model.Size)
                        {
                            <option value="@item" id="size">@item</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <h5>顏色</h5>
                    <select style="height: 30px;">
                        @foreach (var item in @Model.Color)
                        {
                             <option value="@item" id="size">@item</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <h5>數量</h5>
                    <input id="minus" type="button" class="minus" value="-" style="height: 30px;">
                    <input id="theInput" class="input-text qty text" value="1" step="1" style="width: 50px;">
                    <input id="plus" type="button" class="plus" value="+" style="height: 30px;">
                </div>
            </div>
            <div class="row mt-4">
                <button type="button" class="btn btn-dark" style="width: 500px;">加入購物車</button>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
</div>
<br /><br /><br />
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnFollow").click(function () {
            $("#chgicon").attr("src", $(this).attr("src"));
        });

        var input = document.getElementById('theInput');
        document.getElementById('plus').onclick = function () {
            input.value = parseInt(input.value, 10) + 1
        }
        document.getElementById('minus').onclick = function () {
            if (input.value > 1)
                input.value = parseInt(input.value, 10) - 1
            else
                input.value = 1

        }
    });
</script>

