@model ModelsLibrary.ViewModels.ProductList
@{
    Layout = "~/Views/Shared/Main.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@if ((bool?)TempData["HasItem"] != null)
{
    if ((bool)TempData["HasItem"] == true)
    {
        <script>
            $(document).ready(function () {
                $("#myModalf").modal();
            });
        </script>
    }
    if ((bool)TempData["HasItem"] == false)
    {
        <script>
            $(document).ready(function () {
                $("#myModals").modal();
            });
        </script>
    }
}
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            @foreach (var item in Model.PhotoPath)
            {
                <div class="row">
                    <div class="col">
                        <img class="btnFollow" style="max-width: 100%;" src=@item />
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <img id="chgicon" class="btnFollow" style="max-width: 100%;" src=@Model.PhotoPath[0] />
        </div>
        <div class="col-4">
            <h3>@Model.ProductName </h3>
            <br />
            <h3>
                <b>NT$@Model.UnitPrice </b>
            </h3>
            <br />
            <p class="lead">
                @Model.ProductDetails
            </p>
            <br />
            <br />
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-4">
                        <h5>尺寸</h5>
                        <select style="height: 30px;" name="size">
                            @foreach (var item in @Model.Size)
                            {
                                <option value="@item" id="size">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <h5>顏色</h5>
                        <select style="height: 30px;" name="color">
                            @foreach (var item in @Model.Color)
                            {
                                <option value="@item" id="size">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <h5>數量</h5>
                        <select name="num" class="num">
                            @for (var i = 1; i < 6; i++)
                            {
                                <option value=@i>@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <button type="submit" class="btn btn-dark" style="width: 500px;">
                        加入購物車
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalf" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>購物車已有這件產品，無法重複加入至購物車。</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark" data-dismiss="modal">確認</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModals" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>已將此產品加入購物車!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-dark" data-dismiss="modal">確認</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-1">

        </div>
    </div>
</div>
<br /><br /><br />
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnFollow").click(function () {
            $("#chgicon").attr("src", $(this).attr("src"));
        });

        $(".dropdown-menu #size").click(function () {
            $("#btnGroupDrop1").text($(this).text());
        });

        $(".dropdown-menu #num").click(function () {
            $("#btnGroupDrop2").text($(this).text());
        });
    });
</script>

