@model IEnumerable<ModelsLibrary.DtO_Models.Order>
@{
    ViewBag.Title = "SearchMember";
    Layout = "~/Views/Shared/Main.cshtml";

}
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-6">
            <h6>會員中心 Hello! @ViewBag.Name</h6>
            <br />
            <div class="row">
                <div class="col">
                    <h4>訂單查詢</h4>
                    <hr>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:center">訂單編號</th>
                                <th scope="col" style="text-align:center">訂購日期</th>
                                <th scope="col" style="text-align:center">狀態</th>
                                <th scope="col" style="text-align:center">付款方式</th>
                                <th scope="col" style="text-align:center">寄送方式</th>
                                <th scope="col" style="text-align:center">取消訂單</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td scope="row"><a href="/Member/SearchMember/@item.OrderID">@item.OrderID</a></td>
                                <td>@item.OrderDay.ToString("yyyy-MM-dd")</td>
                                <td>@item.Status</td>
                                <td>@item.Payment</td>
                                <td>@item.Transport</td>
                                @if (item.Status == "處理中")
                                {
                                    <td><a href="@Url.Action("Cancelorder", "Member", new { orderid = item.OrderID })">取消訂單</a></td>
                                }
                                else if (item.Status == "已出貨" || item.Status == "已到貨")
                                {
                                    <td><a href="@Url.Action("Cancelorder", "Member", new { orderid = item.OrderID })">申請退貨</a></td>
                                }
                                else if (item.Status == "申請取消" || item.Status == "申請退貨")
                                {
                                    <td>處理中</td>
                                }
                                else
                                {
                                    <td>完成</td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.Count() == 0)
                    {
                    <div class="text-center">
                        <span style="color:dimgray">目前沒有訂單歷史紀錄</span>
                    </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>個人資料</h4>

                    <hr>
                    <label for="inputName" class="col-sm-2 col-form-label">會員帳號</label>
                    <label for="inputName" class="col-sm-8 col-form-label">@ViewBag.User</label>
                    <br />
                    <label for="inputName" class="col-sm-2 col-form-label">姓名</label>
                    <label for="inputName" class="col-sm-8 col-form-label">@ViewBag.Name</label>
                    <br />
                    <label for="birthday" class="col-sm-2 col-form-label">生日</label>
                    <label for="birthday" class="col-sm-8 col-form-label">@ViewBag.birthday</label>
                    <br />
                    <label for="inputPhone" class="col-sm-2 col-form-label">電話</label>
                    <label for="inputPhone" class="col-sm-8 col-form-label">@ViewBag.Phone</label>
                    <br />
                    <label for="inputEmail" class="col-sm-2 col-form-label">電子郵件</label>
                    <label for="inputEmail" class="col-sm-8 col-form-label">@ViewBag.Email</label>
                    <br />
                    <label for="inputPhone" class="col-sm-2 col-form-label">購物金</label>
                    <label for="inputPhone" class="col-sm-8 col-form-label">NT$@Decimal.Round(ViewBag.Cash)</label>
                    <br />
                    <br />
                    <a class="btn btn-dark" style="width: 180px" href="/Member/UpdateMember">修改個人資料及密碼</a>
                </div>
            </div>
        </div>
    </div>
</div>


