
@{
    ViewBag.Title = "AdminProduct";
    Layout = "~/Views/Shared/AdminMain.cshtml";
    var list = ViewData["list"] as List<ModelsLibrary.DtO_Models.Products>;
    int count = Convert.ToInt32(ViewData["count"]);
    int k = 0;
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <h3>商品管理</h3>
                <br>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                商品排序
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href=@Url.Action("Product", "Admin", new { sortmethod = "Product" })>產品ID</a>
                                <a class="dropdown-item" href=@Url.Action("Product", "Admin", new { sortmethod = "Category" })>類別ID</a>
                                <a class="dropdown-item" href=@Url.Action("Product", "Admin", new { sortmethod = "Stock" })>庫存</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-data__tool-right">
                        <a href="/Admin/ProductAdd" class="btn btn-primary">
                            <i class="fas fa-plus"></i>&nbsp;新增產品
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th class="text-center">產品ID</th>
                                <th class="text-center">產品名稱</th>
                                <th class="text-center">類別ID</th>
                                <th class="text-center">單價</th>
                                <th class="text-center">庫存</th>
                                <th class="text-center">尺寸</th>
                                <th class="text-center">顏色</th>
                                <th>產品描述</th>
                            </tr>
                        </thead>
                        <tbody>
                            @while (true)
                            {
                                <tr>
                                    <td class="text-center">@list[k].ProductID</td>
                                    <td><a href="/Admin/ProductUpdate/@list[k].ProductID">@list[k].ProductName</a></td>
                                    <td class="text-center">@list[k].CategoryID</td>
                                    <td>@decimal.Round(list[k].UnitPrice)</td>
                                    <td class="text-center">@list[k].UnitsInStock</td>
                                    <td class="text-center">@list[k].Size</td>
                                    <td class="text-center">@list[k].Color</td>
                                    <td>@list[k].ProductDetails</td>
                                </tr>
                                k = k + 1;
                                count = count - 1;
                                if (count == 0) { break; }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

